
/* global classes */

.half{
  width: 50%;
}


/* Boot strap over-rides: */
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #009ba0;
}

.bg-primary, .btn-primary {
  background-color: #00c2ca !important;
}
.btn-primary {
  font-weight: 500;
}

/* form styling */
.form-buttons {
    display: flex;
    margin: 1rem 0rem;
    justify-content: space-between;
}

.chkBoxes {
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-evenly;
}
.hidden {
  display: none !important;
}
.showBlock {
  display: block;
}

option {
    white-space: pre-wrap;
}

/* Sucess Sections */
.sucess-sections h2 {
    margin: 4rem !important;
    text-align: center;
}

/* Homepage */

.logo-homepage{
  max-width: 20vw;
}
